.sidebar {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f0f4f9;
    min-height: 100vh;
    padding: 25px 10px;
}
.sidebar img {
    width: 30px;
}
.sidebar .logo {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new_chat {
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px ;
    font-size: 14px;
    color: gray;
    cursor: pointer;
}
.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s ease;
}
.sidebar .recent_title {
    margin-top: 30px;
    margin-top: 20px;
}
.sidebar .recent_entry {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 30px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent_entry:hover {
    background-color:#c9dcf4;
}
@media (max-width:600px){
    .sidebar{
        display: none;
    }
}